
.margin-all{
    margin: var(--margin);
}


.main{
    padding: 2em;
    padding-left: 6em;
}

.main>*{
    max-width: 100%;
    min-width: 550px;
}

.no-padding{
    padding-top: inherit;
    margin-top: 0 ;
}