/* Typography */

h1, h2, h3, h4, h5 {
    /* Overide for headers */
    font-family: 'Encode Sans', sans-serif;
    padding: var(--margin) 1rem;
    /* padding-bottom: var(--margin); */
    text-align: left;
    
}

p{
    padding: var(--margin);
    text-align: justify;
}

h1 {
    font-size: calc(var(--font-size) * 2);
}

h2 {
    font-size: calc(var(--font-size) * 1.75);
    
}

h3 {
    font-size: calc(var(--font-size) * 1.5);
    
}

h4 {
    font-size: calc(var(--font-size) * 1.25);
    
}
h5 {
    font-size: var(--font-size);
    
}
a, a:active, a:visited, a:hover {
    text-decoration: underline;
    color: hsla(0,0,0,0.25);
}


strong {
    text-shadow: 0 0 0.001em var(--on-surface);
    font-size: var(--font-size);
}

.center-text{
    text-align: center;
}

.lead{
    font-size: calc(var(--font-size) * 1.15);
}

.brand-header {
    background-color: var(--primary);
    z-index: 20;
    position: fixed;
    top: 0;
    left: 6em;
    width: 100%;
}
